In [74]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import re

In [75]:
nasa_exo = pd.read_csv("nasa_exo_PSCP.csv")
nasa_exo.columns

Index(['pl_name', 'hostname', 'hd_name', 'hip_name', 'tic_id', 'gaia_id',
       'pl_orbsmax', 'pl_orbsmaxerr1', 'pl_orbsmaxerr2', 'pl_orbsmax.1',
       'pl_rade', 'pl_radeerr1', 'pl_radeerr2', 'pl_rade.1', 'pl_bmasse',
       'pl_bmasseerr1', 'pl_bmasseerr2', 'pl_bmasse.1', 'pl_bmassprov',
       'pl_orbeccen', 'pl_orbeccenerr1', 'pl_orbeccenerr2', 'pl_orbeccen.1',
       'st_spectype', 'st_teff', 'st_tefferr1', 'st_tefferr2', 'st_teff.1',
       'st_rad', 'st_raderr1', 'st_raderr2', 'st_rad.1', 'st_mass',
       'st_masserr1', 'st_masserr2', 'st_mass.1', 'st_vsin', 'st_vsinerr1',
       'st_vsinerr2', 'st_vsin.1', 'st_rotp', 'st_rotperr1', 'st_rotperr2',
       'st_rotp.1', 'sy_dist', 'sy_disterr1', 'sy_disterr2', 'sy_vmag',
       'sy_vmagerr1', 'sy_vmagerr2', 'sy_kmag', 'sy_kmagerr1', 'sy_kmagerr2'],
      dtype='object')

In [134]:
# p_kic = re.compile(r'^KIC (\d+)$')
p_koi = re.compile(r'^K(\d+)\.\d{2}$')
# p_kep = re.compile(r'^Kepler-(\d+)$')

nasa_kep = pd.read_csv("nasa_exo_kep.csv")
nasa_kep['KOI'] = nasa_kep.apply(lambda r: r.koi_name[1:-3] if p_koi.match(str(r.koi_name)) is not None else -1, axis=1)
# nasa_kep.drop_duplicates(subset='kepid', inplace=True)
# nasa_kep['hostname'] = nasa_kep.apply(lambda r: r['pl_name'][:-2], axis=1)
# nasa_kep.drop(columns=['pl_name'], inplace=True)
nasa_kep.columns

Index(['kepid', 'koi_name', 'kepler_name', 'pl_name'], dtype='object')

In [136]:
nasa_kep.kepid

0        7515212
1        8210018
2        9008737
3        4833421
4        9963524
          ...
2728    10666592
2729     7603200
2730     7603200
2731     7603200
2732     7603200
Name: kepid, Length: 2733, dtype: int64

In [135]:
# nasa_exo_kep = pd.merge(nasa_exo, nasa_kep, how='left', on='hostname')
# nasa_exo_kep.kepler_name.count()
# nasa_exo_kep[nasa_exo_kep.hostname == 'Kepler-138']
nasa_exo_kep = pd.merge(nasa_exo, nasa_kep, how='left', on='pl_name')
nasa_exo_kep.kepler_name.count()
# set(nasa_kep.pl_name) - set(nasa_exo.pl_name)

2733

In [86]:
kois = nasa_kep.apply(lambda r: int(r['koi_name'][1:-3]) if str(r['koi_name']) != 'nan' else -1, axis=1)
kois

0        679
1       2762
2       2768
3        232
4        720
        ...
2728       2
2729      -1
2730     314
2731     314
2732     314
Length: 2733, dtype: int64

In [87]:
#planet names
kics_nasa = nasa_exo[nasa_exo.apply(lambda r: re.match(r'^KIC.+', r.pl_name) is not None, axis=1)]
kois_nasa = nasa_exo[nasa_exo.apply(lambda r: re.match(r'^KOI.+', r.pl_name) is not None, axis=1)]
keplers_nasa = nasa_exo[nasa_exo.apply(lambda r: re.match(r'^Kepler.+', r.pl_name) is not None, axis=1)]
print(len(kics_nasa), len(kois_nasa), len(keplers_nasa))

16 33 2678

In [88]:
#host names
kics_nasa = nasa_exo[nasa_exo.apply(lambda r: re.match(r'^KIC.+', r.hostname) is not None, axis=1)]
kois_nasa = nasa_exo[nasa_exo.apply(lambda r: re.match(r'^KOI.+', r.hostname) is not None, axis=1)]
keplers_nasa = nasa_exo[nasa_exo.apply(lambda r: re.match(r'^Kepler.+', r.hostname) is not None, axis=1)]
print(len(kics_nasa), len(kois_nasa), len(keplers_nasa))

16 37 2672

In [46]:
kics_nasa[kics_nasa.hostname == 'KIC 9663113']
# kois_nasa[kois_nasa.hostname == 'KOI-55']
# keplers_nasa[keplers_nasa.hostname == 'Kepler-186']

,pl_name,hostname,hd_name,hip_name,tic_id,gaia_id,pl_orbsmax,pl_orbsmaxerr1,pl_orbsmaxerr2,pl_orbsmaxlim,...,st_rotplim,sy_dist,sy_disterr1,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2
464,Kepler-458 c,KIC 9663113,NaN,NaN,TIC 272844987,Gaia DR2 2080266967444876032,0.1540,NaN,NaN,0.0,...,NaN,1594.74,44.335,-44.335,14.027,0.137,-0.137,12.502,0.023,-0.023
868,KIC 9663113 b,KIC 9663113,NaN,NaN,TIC 272844987,Gaia DR2 2080266967444876032,1.4062,NaN,NaN,0.0,...,NaN,1594.74,44.335,-44.335,14.027,0.137,-0.137,12.502,0.023,-0.023

In [79]:
nasa_kep[nasa_kep.st_name == 7515212]

        kepid   koi_name   kepler_name       pl_name
0     7515212  K00679.02  Kepler-212 b  Kepler-212 b
1252  7515212  K00679.01  Kepler-212 c  Kepler-212 c

In [94]:
p_kic = re.compile(r'^KIC (\d+)$')
p_koi = re.compile(r'^KOI-(\d+)$')
p_kep = re.compile(r'^Kepler-(\d+)$')

def kepler_names(hostname):
    m_kic = p_kic.match(hostname)
    if m_kic is not None:
        kic = m_kic.group(1)
        row = nasa_kep[nasa_kep.kepid == kic]
        return row
    
    m_kep = p_kep.match(hostname)
    if m_kep is not None:
        kep = m_kep.group(0)
        row = nasa_kep[nasa_kep.st_name == kep]
        return row

In [97]:
head_nasa_exo = nasa_exo.iloc[:10]
head_nasa_exo.apply(lambda r: kepler_names(r.hostname), axis=1)

0                                                 None
1            kepid   koi_name   kepler_name       p...
2            kepid   koi_name   kepler_name       p...
3                                                 None
4           kepid   koi_name   kepler_name       pl...
5                                                 None
6                                                 None
7                                                 None
8                                                 None
9                                                 None
dtype: object

In [64]:
kickic = nasa_exo.apply(lambda r: kepler_names(r.hostname), axis=1)
nasa_exo[kickic.notnull()]

,pl_name,hostname,hd_name,hip_name,tic_id,gaia_id,pl_orbsmax,pl_orbsmaxerr1,pl_orbsmaxerr2,pl_orbsmaxlim,...,st_rotplim,sy_dist,sy_disterr1,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,NaN,NaN,NaN,NaN,3.4000,2.1000,-1.0000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kepler-276 c,Kepler-276,NaN,NaN,TIC 138213510,Gaia DR2 2052304325169514880,0.1994,NaN,NaN,0.0,...,NaN,1144.8600,46.150,-42.760000,15.481,0.172,-0.172,13.838,0.053,-0.053
2,Kepler-829 b,Kepler-829,NaN,NaN,TIC 123451768,Gaia DR2 2104759585381348608,0.0678,NaN,NaN,0.0,...,NaN,1073.7600,26.580,-25.350000,14.973,0.092,-0.092,13.290,0.030,-0.030
3,K2-283 b,K2-283,NaN,NaN,TIC 266017624,Gaia DR2 2581916673708201216,0.0291,0.0003,-0.0003,0.0,...,NaN,402.9150,5.027,-4.907000,14.364,0.092,-0.092,11.983,0.023,-0.023
4,Kepler-477 b,Kepler-477,NaN,NaN,TIC 158633329,NaN,0.0911,NaN,NaN,0.0,...,NaN,367.0000,10.155,-11.229000,13.835,0.114,-0.114,11.729,0.016,-0.016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5238,MOA-2020-BLG-135L b,MOA-2020-BLG-135L,NaN,NaN,NaN,NaN,1.1100,0.2300,-0.2000,0.0,...,NaN,7900.0000,1000.000,-1000.000000,NaN,NaN,NaN,NaN,NaN,NaN
5239,NGTS-25 b,NGTS-25,NaN,NaN,TIC 290742484,Gaia DR2 6682513094425008640,0.0388,0.0014,-0.0020,0.0,...,NaN,521.2330,8.367,-8.112001,14.333,0.114,-0.114,12.324,0.023,-0.023
5240,OGLE-2006-BLG-284L A b,OGLE-2006-BLG-284L A,NaN,NaN,NaN,NaN,2.1700,0.7800,-0.7800,0.0,...,NaN,4000.0000,1500.000,-1500.000000,NaN,NaN,NaN,NaN,NaN,NaN
5241,KMT-2021-BLG-1077L b,KMT-2021-BLG-1077L,NaN,NaN,NaN,NaN,1.2600,1.4100,-1.0800,0.0,...,NaN,8240.0000,1020.000,-1160.000000,NaN,NaN,NaN,NaN,NaN,NaN
5242,Kepler-138 e,Kepler-138,NaN,NaN,TIC 159376971,Gaia DR2 2102053446751282944,0.1803,0.0014,-0.0014,0.0,...,NaN,66.8624,0.107,-0.107000,13.040,0.092,-0.092,9.506,0.011,-0.011

In [ ]:
# operate on hostnames only for IDs
nasa_exo['KIC'] = nasa_exo.apply(lambda r:, axis=1)